In [1]:
import numpy as np
import pandas as pd
import chardet

In [2]:
with open("dataset/hate_speech.tsv", "rb") as f:
    result = chardet.detect(f.read(100000))  # Read first 100KB
    print(result["encoding"])

utf-8

In [3]:
column_names = ["Codemixed text", "Hatespeech"]  # Replace with actual column names
df1 = pd.read_csv("dataset/hate_speech.tsv", encoding=result["encoding"], sep="\t", header=None, names=column_names)

df1.tail()

                                         Codemixed text Hatespeech
4574  ye attankwadi Indian agent hai jo terrorism ph...         no
4575  bola na terrorism ko support karna band karoge...         no
4576  lagta hai aap ne movie dekhi hai which is writ...         no
4577  tum log terrorism ko support karna band kardo ...         no
4578  mujhe pehele se hi pata tha so Sallu fans ke b...        yes

In [4]:
with open("dataset/Hinglish_Profanity_List.csv", "rb") as file:
    raw_data = file.read()
    result = chardet.detect(raw_data)
    print(result["encoding"])

Windows-1252

In [5]:
df = pd.read_csv("dataset/Hinglish_Profanity_List.csv", encoding=result['encoding'])

df.tail()

         badir       idiot  1
203   vahiyaat  disgusting  4
204     jihadi   terrorist  4
205  atankvadi   terrorist  4
206  atankwadi   terrorist  4
207    aatanki    terorist  4